.profile__edit-button {
  background-color: transparent;
  background: url('../../../images/icons/edit_icon.svg') center no-repeat;
  background-size: 10px 10px;
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  box-sizing: border-box;
  margin-bottom: 7px;
  transition: all .2s ease-out;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 620px) {
  .profile__edit-button {
    background-size: 7.5px 7.5px;
    width: 18px;
    height: 18px;
  }
}
