.profile__add-button {
    background-color: transparent;
    background: url('../../../images/icons/add_icon.svg') center no-repeat;
    background-size: 22px 22px;
    padding: calc(12px + (22px / 2)) calc(62px + (22px / 2));
    border: 2px solid #fff;
    border-radius: 2px;
    box-sizing: border-box;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }
  
  .profile__add-button:hover {
    opacity: 0.6;
  }

  @media screen and (max-width: 900px) {
    .profile__add-button {
      background-size: 16px 16px;
      width: 282px;
      margin-top: 6px;
    }
  }