.header__links {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  gap: 24px;
  list-style: none;
  color: white;
  margin: 0 auto;
  padding: 0;
}

.header__links_menu {
  display: none;
}

@media screen and (max-width: 620px) {
  .header__links {
    display: none;
  }

  .header__links_menu {
    display: flex;
    flex-direction: column;
    padding-block: 40px;
    gap: 18px;
  }

  .header__links_signup-login-page {
    display: block;
  }
}
